<div class="my-3">
    <button (click)="create()">Create</button>
    <button class="ml-3" (click)="disconnect()">Disconnect</button>
</div>

<div>
    <h5>Total: {{ total$ | async }}</h5>
</div>

<div *ngFor="let race of races$ | async" class="card mr-1 mb-1 d-inline-flex" style="width: 12rem;">
    <div class="card-body">
        <h5 class="card-title">{{ race.id }}</h5>
        <p class="card-text">{{ race.name }}</p>
        <p class="card-text">{{ race.description }}</p>

        <button (click)="update(race)" class="mr-1">Update</button>
        <button (click)="delete(race.id)">Delete</button>
    </div>
</div>
