<ul class="nav nav-tabs my-3">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['single']" routerLinkActive="active">Single Action</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['multiple']" routerLinkActive="active">Multiple Actions</a>
  </li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-8">
      <app-list></app-list>
    </div>

    <div class="col-4">
      <h2>NGXS Firestore:</h2>
      <pre>{{ ngxsFirestore$ | async | json }}</pre>
    </div>
  </div>
</div>