<div class="my-3">
  <button [disabled]="nextPageExecuting$ | async" class="btn btn-primary" (click)="nextPage()">Next Page Races</button>
  <button [disabled]="lastPageExecuting$ | async" class="btn btn-primary" (click)="lastPage()">Last Page Races</button>
</div>
<div class="">
  <div *ngFor="let race of races$ | async" class="card mr-1 mb-1 d-inline-flex" style="width: 21rem;">
    <div class="card-body">
      <h5 class="card-title">{{ race.id }}</h5>
      <p class="card-text">{{ race.order }}</p>
      <p class="card-text">{{ race.name }}</p>
      <p class="card-text">{{ race.description }}</p>
    </div>
  </div>
</div>

<div class="my-3">
  <button [disabled]="nextPageExecuting$ | async" class="btn btn-primary" (click)="nextPageAttendees()">
    Next Page Attendees
  </button>

  <button [disabled]="lastPageExecuting$ | async" class="btn btn-primary" (click)="lastPageAttendees()">
    Last Page Attendees
  </button>
</div>
<div class="">
  <div *ngFor="let attendee of attendees$ | async" class="card mr-1 mb-1 d-inline-flex" style="width: 21rem;">
    <div class="card-body">
      <h5 class="card-title">{{ attendee.id }}</h5>
      <p class="card-text">{{ attendee.order }}</p>
      <p class="card-text">{{ attendee.name }}</p>
      <p class="card-text">{{ attendee.description }}</p>
    </div>
  </div>
</div>
