<div class="my-3">
  <button [disabled]="nextPageExecuting$ | async" class="btn btn-primary" (click)="nextPage()">Next</button>
</div>
<div class="">
  <div *ngFor="let race of races$ | async" class="card mr-1 mb-1 d-inline-flex" style="width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">{{ race.id }}</h5>
      <p class="card-text">{{ race.order }}</p>
      <p class="card-text">{{ race.name }}</p>
      <p class="card-text">{{ race.description }}</p>
    </div>
  </div>
</div>
